T3_PROVIDER=mock
T3_ENVIRONMENT=testnet

TENANT_DID=did:t3n:replace_me
TENANT_KEY=0xreplace_me
USER_KEY=0xreplace_me
ORCHESTRATOR_KEY=0xreplace_me
ORCHESTRATOR_DID=did:t3n:replace_me
SUB_AGENT_KEY=0xreplace_me
SUB_AGENT_DID=did:t3n:replace_me

AEGIS_CONTRACT_TAIL=treasury-contracts
AEGIS_CONTRACT_VERSION=0.1.1
AEGIS_WASM_PATH=contracts/z-tenant-treasury/target/wasm32-wasip2/release/z_tenant_treasury.wasm
AEGIS_TREASURY_MAP=treasury
AEGIS_SECRETS_MAP=secrets
AEGIS_MERCHANT_HOST=httpbin.org
